html {
	height:100%;
	width:100%;
}
* {
	margin:0;
	padding:0;
	transition:all .2s
}
html {
	background-image:url(about:blank);
	background-attachment:fixed
}
.circle {
	line-height:100%;
	overflow:hidden;
	font-family:Tahoma,Helvetica;
	font-size:18px;
	color:#aaa
}
.circle:hover {
	color:#fff
}
.circle.hover {
	color:#fff
}
.slideup {
	height:0!important
}
a {
	outline:0;
	text-decoration:none;
	color:#359eff
}
a:hover {
	color:#2b72ff;
}
a:focus {
	outline:0
}

input:focus {
	outline:0
}
ul.options {
	list-style:none;
	margin:0;
	padding:0
}
ul.options li.focus,ul.options li:hover {
	background:#eee
}
ul.options li a {
	color:#000
}
body {
	margin:0;
	padding:0;
	height:100%;
	min-width:560px
}
body .logo {
	position:fixed;
	top:0;
	left:0;
	background:url(../img/logo.png) no-repeat;
	background-size:36px 43px;
	z-index:2;
	height:43px;
	line-height:43px;
	padding-left:46px;
	margin-left:30px;
	margin-top:18px;
	font-size:36px;
	display:block;
	color:#000
}
body .side {
	position:fixed;
	top:0;
	left:0;
	height:100%;
	width:30%;
	float:left;
	overflow:hidden;
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover
}
body .side .switcher {
	position:absolute;
	width:100%;
	bottom:0;
	left:0;
	height:10px;
	margin-bottom:10px;
	text-align:center
}
body .side .container {
	position:relative
}
body .side .container img {
	min-height:100%;
	margin:0;
	padding:0
}
body .top {
	min-width:560px;
	top:0;
	left:0;
	text-align:right;
	position:relative;
	z-index:1
}
body .top .item {
	float:right;
	margin:20px 40px 0 0;
	font-size:16px;
	color:rgba(0,0,0,.902);
	padding:10px 0 0;
	line-height:24px
}
body .top .item>a {
	display:inline-block;
	color:#000
}
body .top .feedback {
	margin-right:60px
}
body .top .feedback a {
	color:#000;
	opacity:.6
}
body .top .feedback a:hover {
	opacity:1
}
body .top .lianghao {
	padding:0
}
@media (max-width:900px) {
	body .top .lianghao {
		display:none
	}
}
body .top .lianghao .lianghao-entry {
	position:relative;
	display:block;
	float:right
}
body .top .lianghao .lianghao-entry>img {
	position:absolute;
	left:0;
	bottom:0;
	z-index:1
}
body .top .lianghao .lianghao-entry>div {
	border-radius:6px;
	background:#f54444;
	background:linear-gradient(126deg,#fc4754,#ff794c) #f54444;
	height:24px;
	line-height:24px;
	font-size:16px;
	margin:10px 0 0 5px;
	padding:0 10px 0 24px;
	color:#fff;
	font-weight:300
}
body .top .lianghao .lianghao-detail {
	clear:both;
	width:290px;
	border-radius:6px;
	border:solid 1px #eee;
	background-color:#fff;
	box-shadow:0 3px 8px 0 rgba(0,0,0,.12);
	overflow:hidden;
	padding:0
}
body .top .lianghao .lianghao-detail .upper {
	border-bottom:solid 1px #f0f0f0;
	height:49px;
	position:relative
}
body .top .lianghao .lianghao-detail .upper .search-icon {
	display:block;
	position:relative;
	text-align:center;
	border-left:solid 1px #eee;
	height:49px;
	width:40px;
	background:0 0;
	float:right;
	z-index:1;
	transition:none;
}
body .top .lianghao .lianghao-detail .upper .search-icon .search-icon-img {
	transition:none;
	margin:auto;
	background:url(../img/search.png) no-repeat transparent;
	height:16px;
	width:16px;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
}
body .top .lianghao .lianghao-detail .upper .search-icon:hover {
	background-color:#f54444;
	background-image:linear-gradient(54deg,#fc4754,#ff794c)
}
body .top .lianghao .lianghao-detail .upper .search-icon:hover .search-icon-img {
	background-image:url(../img/search-hover.png);
}
body .top .lianghao .lianghao-detail .upper .search {
	border:none;
	margin-right:41px;
	background:0 0;
	height:49px;
	line-height:49px;
	font-size:16px;
	padding:0 10px;
}
body .top .lianghao .lianghao-detail .upper .search .search-placeholder {
	position:absolute;
	left:10px;
	top:0;
	background:#fff;
	font-weight:lighter;
	color:#aaa
}
body .top .lianghao .lianghao-detail .upper .search input {
	width:100%;
	height: 88%;
	border-radius: 6px;
	background:0 0;
	position:relative;
	z-index:2;
	font-size:16px
}
body .top .lianghao .lianghao-detail .bottom {
	padding-top:24px;
	font-size:16px;
	text-align:center;
	line-height:1
}
body .top .lianghao .lianghao-detail .bottom div {
	margin-bottom:24px
}
body .top .lianghao .lianghao-detail .bottom .suggest-detail {
	font-size:16px
}
body .top .lianghao .lianghao-detail .bottom .suggest-detail a {
	margin:0 5px
}
body .top .mail-entry {
	opacity:.6
}
body .top .mail-entry:hover {
	opacity:1
}
body .top .mail-entry a {
	color:#000;
	background:url(../img/mail-entry.png) no-repeat;
	height:15px;
	line-height:15px;
	margin:4.5px 0;
	padding:0 0 0 25px
}
body .top .qq-entry {
	opacity:.6
}
body .top .qq-entry:hover {
	opacity:1
}
body .top .qq-entry a {
	margin:3px 0;
	color:#000;
	display:block;
	height:18px;
	line-height:18px;
	padding:0 0 0 21px;
	background:url(../img/qq-entry.png) no-repeat;
}
body .top .language-entry {
	opacity:.6;
	color:#000
}
body .top .language-entry:hover {
	opacity:1
}
body .top .language-entry>ul {
	list-style:none;
	text-align:left;
	padding-top:8px
}
body .top .language-entry>ul li {
	padding-top:16px
}
body .top .language-entry>ul li a {
	color:#888
}
body .top .language-entry>ul li .cur,body .top .language-entry>ul li a:hover {
	color:#000
}
body .main-wraper {
	margin-left:450px;
	position:relative;
	height:100%;
	width: 70%;
}
body .main-wraper .upgrade-tips {
	position:absolute;
	top:0;
	width:100%;
	background-color:#fef9cc;
	text-align:center;
	font-size:14px;
	color:#666
}
body .main {
	position:absolute;
	padding-bottom:10px;
	top:100px;
	width:100%
}
body .main>.form {
	position:relative;
	margin:0 auto;
	width:480px;
}
body .main>.form .welcome {
	font-size:44px;
	margin-bottom:20px
}
body .main>.form .header {
	font-size:28px;
	margin-bottom:64px;
	line-height:1.2;
	color:#333
}
body .main>.form .header a {
	font-size:24px
}
body .main>.form .free-lianghao-entry,body .main>.form .qq-mail-entry {
	float:right
}


.input_spec{
	width: 438px;
	border-radius: 6px;
	height: 50px;
	font-size: 16px;
}
.input_checkCode{
	width:238px;
	height:50px;
	font-size:16px;
	border-radius: 6px;
}


#as{
	float: right;
	margin-right: 30px;
}


body .main>.form form .submit {
	border:1px #3083ff solid;
	border-radius:4px;
	background-color:#3487ff;
	box-shadow:0 5px 8px 0 rgba(24,95,255,.1);
	color:#fff;
	text-align:center;
	font-weight:lighter;
	background-image:linear-gradient(0deg,#398bff,#3083ff);
	width:478px;
	height:60px;
	margin:40px 0 8px;
	font-size:24px
}
body .main>.form form .submit:focus,body .main>.form form .submit:hover {
	background-color:#3580eb;
	background-image:linear-gradient(0deg,#3580eb,#2c79eb)
}
body .main>.footer {
	font-size:14px;
	color:#bbb;
	text-align:center;
	margin:30px 0;
	font-weight:lighter
}
body .main>.footer.bottom {
	position:fixed;
	bottom:0
}